<%- contentFor('body') %>
<h1 class="text-center">Formulário Inválido</h1>
<p class="text-center jumbotron">
    Algum dos campos preenchidos não corresponde aos requisitos necessários para realizar a ação desejada.
</p>
<div class="col-md-5"></div>
<div class="col-md-1">
    <a href="/">
        <button type="button" class="btn btn-default">Página inicial</button>
    </a>
</div>
<div></div>