<%- contentFor('body') %>
<h1 class="text-center">Informação: "<%=codigo%>" já cadastrada no banco</h1>
<p class="text-center jumbotron">
    Aqui eh a prova de falhas, já da o 10 de uma vez.
</p>
<div class="col-md-5"></div>
<div class="col-md-1">
    <a href="/">
        <button type="button" class="btn btn-default">Página inicial</button>
    </a>
</div>
<div></div>