<%- contentFor('body') %>
<h1 class="text-center">Dado não encontrado</h1>
<p class="text-center jumbotron">
    Os dados desejados não puderam ser encontrados.
</p>
<div class="col-md-5"></div>
<div class="col-md-1">
    <a href="/">
        <button type="button" class="btn btn-default">Página inicial</button>
    </a>
</div>
<div></div>